<div class="d-flex justify-content-between">
  <div *ngIf="profSelecionado" class="col-sm-5">
    <div class="d-flex justify-content-between">
      <div>
        <app-titulo [titulo]="'Id Professor: ' + profSelecionado.id"></app-titulo>
      </div>
      <div>
        <button class="btn btn-outline-danger border-2" (click)="voltar()">Fechar</button>
      </div>
    </div>
    
    <form [formGroup]="profForm" (submit)="profSubmit()">
      <div class="form-group">
        <label for="formGroupExampleInput">Nome</label>
        <input type="text" class="form-control" formControlName="nome">
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput2">Sobrenome</label>
        <input type="text" class="form-control" formControlName="sobrenome">
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput2">Disciplina</label>
        <input type="text" class="form-control" formControlName="disciplina">
      </div>
      <div class="form-group">
        <hr>
        <button class="btn btn-success" [disabled]="!profForm.valid">Enviar</button>
      </div>
    </form>
  </div>
  
  <div [ngClass]="{'col-sm-6': profSelecionado, 'col-sm-12': !profSelecionado}">
    <app-titulo [titulo]="titulo"></app-titulo>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Nome</th>
          <th scope="col">Sobrenome</th>
          <th scope="col">Disciplina</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let prof of professores" (click)="profSelect(prof)" style="cursor: pointer;">
          <th scope="row">{{prof.id}}</th>
          <td>{{prof.nome}}</td>
          <td>{{prof.sobrenome}}</td>
          <td>{{prof.disciplina}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>




